body {
    margin: 0;
}

.logotipas {
    margin-top: 35px;
}

.sonas {
width: 206px;
height: 100vh;
display: flex;
background-color: rgb(229, 240, 249);
gap: 30px;
flex-direction: column;
align-items: center;
transition: 1s;
}

.sonas:hover {
    width: 300px;
}

.linkai {
display: flex;
align-self: flex-start;
margin-left: 37px;
}

.zodziai {
margin: 0;
margin-left: 19px;

}

.hare {
    width: 60%;
    border: 1px solid gray;
    margin-top: 10px;
}

.Fonasmain {
width: 100% ;
justify-content: center;
align-items: center;

}

