body {
    margin: 0;
}

.logotipas {
    margin-top: 35px;
}

.sonas {
width: 100px;
height: 100vh;
display: flex;
background-color: #F7F6FF;
gap: 30px;
flex-direction: column;
align-items: center;
transition: 1s;
}

.sonas:hover {
    width: 206px;
}

.sonas:hover .zodziai {
/* display: block; */
visibility: visible;
transition: 2s ;
opacity: 1;
}

.linkai {
display: flex;
align-self: flex-start;
margin-left: 37px;
color: #C4C4C4;
}

.linkai:hover {
    width: 300px;
    text-decoration: dotted;
    border-radius: 12px;
}

.zodziai {
margin: 0;
margin-left: 19px;
/* display: none; */
visibility: hidden;
opacity: 0;
}



.hare {
    width: 60%;
    border: 1px solid #C4C4C4;
    margin-top: 10px;
    
}

.Fonasmain {
width: 100% ;
justify-content: center;
align-items: center;
}

